.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: rgb(var(--menu-color));
}

.trailer {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  aspect-ratio: 16/9;
  justify-content: center;
  overflow: hidden;
  border: 1.5px solid rgb(var(--hover-color));
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: black;
}

.trailer > video {
  width: 100%;
  object-fit: fill;
}

.trailer > img {
  border: 1.5px solid rgb(var(--hover-color));
}

.btns {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 0.5rem;
  bottom: 0.5rem;
}

.play1Btn,
.play2Btn {
  width: calc((var(--card-width)) * 3 / 4);
  height: calc((var(--card-width)) * 2 / 8);
  border-style: none;
  border-radius: var(--border-radius);
  background-color: rgb(var(--menu-color));
  font-size: calc((var(--card-width)) * 1 / 10);
  cursor: pointer;
}

.play2Btn {
  height: calc(((var(--card-width)) * 2 / 7 - 2px));
}

.play1Btn:hover,
.play2Btn:hover {
  background-color: rgb(var(--hover-color));
}

.audios {
  position: absolute;
  display: flex;
  width: 7em;
  bottom: calc((var(--card-width)) * 2 / 8 + 1.5rem);
  left: 0.2rem;
}

.german,
.english {
  width: calc((var(--card-width)) * 1 / 6);
  aspect-ratio: 1/1;
  margin-left: 1em;
  background-size: calc((var(--card-width)) * 1 / 6);
  background-repeat: no-repeat;
  cursor: pointer;
}

.german {
  background-image: url("../../assets/icons/german.png");
}

.english {
  background-image: url("../../assets/icons/english.png");
}

.volBtn,
.muteBtn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: calc((var(--card-width)) * 1 / 9);
  height: calc((var(--card-width)) * 1 / 9);
  border-style: none;
  border-radius: calc((var(--card-width)) * 1 / 9);
  background-position: center;
  background-size: calc((var(--card-width)) * 1 / 9);
  background-repeat: no-repeat;
  background-image: url("../../assets/icons/icon_volume_0.png");
  background-color: rgba(var(--back-color), 0.7);
  cursor: pointer;
}

.volBtn {
  background-image: url("../../assets/icons/icon_volume_0.png");
}

.muteBtn {
  background-image: url("../../assets/icons/icon_volume_100.png");
}

.description {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  padding: 1rem;
  gap: 0.6rem;
}

.title {
  position: sticky;
  top: 0;
  height: calc((var(--card-width)) * 2 / 6);
  font-size: calc((var(--card-width)) * 1 / 6);
}

.numbers {
  display: flex;
  font-size: calc((var(--card-width)) * 1 / 12);
  height: calc((var(--card-width)) * 1 / 12 + 1rem);
  margin-top: 1rem;
}

.numbers * {
  color: rgb(var(--sec-text));
}

.fsk > p {
  border: 1px solid rgb(var(--sec-text));
  border-radius: 2px;
  padding-left: 1px;
  padding-right: 1px;
}

.rating,
.runtime,
.fsk,
.year,
.awards {
  display: flex;
  align-items: center;
  margin-right: 3.5rem;
}

.calendar,
.hourglass,
.rotten,
.tomatoes,
.fresh,
.oscar {
  width: 1rem;
  aspect-ratio: 1/1;
  margin-right: 0.5rem;
  background-size: 1rem;
  background-repeat: no-repeat;
}

.calendar {
  background-image: url("../../assets/icons/calendar.png");
}

.hourglass {
  background-image: url("../../assets/icons/hourglass.png");
}

.rotten {
  background-image: url("../../assets/icons/rotten_tomatoes_59.png");
}
.tomatoes {
  background-image: url("../../assets/icons/rotten_tomatoes_60.png");
}
.fresh {
  background-image: url("../../assets/icons/rotten_tomatoes_75.png");
}

.oscar {
  background-image: url("../../assets/icons/oscar.png");
}

.plot {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: calc((var(--card-width)) * 1 / 10 + 4px);
  height: calc((var(--card-width)) * 4 / 10);
  font-size: calc((var(--card-width)) * 1 / 10);
}

.row {
  display: flex;
  gap: 1rem;
  font-size: calc((var(--card-width)) * 1 / 11);
}

.row > .colLeft > p {
  color: rgb(var(--sec-text));
}
