.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: rgb(var(--menu-color));
}

.trailer {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  aspect-ratio: 16/9;
  justify-content: flex-end;
  overflow: hidden;
  border: 1.5px solid rgb(var(--hover-color));
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: black;
}

.trailer > video {
  width: 100%;
  object-fit: fill;
}

.trailer > img {
  border: 1.5px solid rgb(var(--hover-color));
}

.btns {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 0.5rem;
  bottom: 0.5rem;
}

.play1Btn,
.play2Btn {
  width: var(--videoCard-width);
  height: calc((var(--videoCard-width)) * 2 / 7);
  border-style: none;
  border-radius: 0.2rem;
  background-color: rgb(var(--menu-color));
  font-size: calc((var(--videoCard-width)) * 1 / 10);
  cursor: pointer;
}

.play2Btn {
  height: calc(((var(--videoCard-width)) * 2 / 7) - 2px);
}

.play1Btn:hover,
.play2Btn:hover {
  background-color: rgb(var(--hover-color));
}

.audios {
  position: absolute;
  display: flex;
  width: 7em;
  bottom: 4rem;
  left: 0.2rem;
}

.german,
.english {
  width: 1.5rem;
  aspect-ratio: 1/1;
  margin-left: 1em;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  cursor: pointer;
}

.german {
  background-image: url("../../assets/icons/german.png");
}

.english {
  background-image: url("../../assets/icons/english.png");
}

.volBtn,
.muteBtn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 2.5em;
  height: 2.5em;
  border-style: none;
  border-radius: 2.5em;
  background-position: center;
  background-size: 15px;
  background-repeat: no-repeat;
  background-image: url("../../assets/icons/icon_volume_0.png");
  background-color: rgba(var(--back-color), 0.7);
  cursor: pointer;
}

.volBtn {
  background-image: url("../../assets/icons/icon_volume_0.png");
}

.muteBtn {
  background-image: url("../../assets/icons/icon_volume_100.png");
}

.description {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.6rem;
}

.title {
  top: 0;
  height: 5rem;
  font-size: 1.8rem;
}

.numbers {
  display: flex;
  font-size: 0.9rem;
  height: 3rem;
}

.numbers * {
  color: rgb(var(--sec-text));
}

.rating,
.runtime,
.year,
.awards {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}

.calendar,
.hourglass,
.rotten,
.tomatoes,
.oscar {
  width: 1rem;
  aspect-ratio: 1/1;
  margin-right: 0.7rem;
  background-size: 1rem;
  background-repeat: no-repeat;
}

.calendar {
  background-image: url("../../assets/icons/calendar.png");
}

.hourglass {
  background-image: url("../../assets/icons/hourglass.png");
}

.rotten {
  background-image: url("../../assets/icons/rotten_tomatoes_59.png");
}
.tomatoes {
  background-image: url("../../assets/icons/rotten_tomatoes_60.png");
}

.oscar {
  background-image: url("../../assets/icons/oscar.png");
}

.plot {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.4rem;
  height: 4.3rem;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.row {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
}

.row > .colLeft > p {
  color: rgb(var(--sec-text));
}
