.container {
  display: flex;
  margin-left: 1rem;
}

.searchInput {
  width: 20vw;
  height: 2em;
  padding-left: 1.5rem;
  border: 2px solid rgb(var(--menu-color));
  border-radius: 1rem;
  margin-left: 0.5em;
  background-color: rgb(var(--top-color));
}