.container {
  display: flex;
  margin-right: 1em;
}

select {
  appearance: none;
  width: 5em;
  height: 2em;
  border-style: none;
  background-color: rgb(var(--top-color));
  border-top-left-radius: var(--videoCard-radius);
  border-bottom-left-radius: var(--videoCard-radius);
  text-align-last: center;
  font-size: 0.8em;
  cursor: pointer;
}

select:hover {
  border: 1px solid rgb(var(--sec-text));
}

.defaultSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5em;
  height: 2em;
  background-color: rgb(var(--top-color));
  border-radius: var(--videoCard-radius);
  font-size: 0.8em;
}

.searchInput {
  width: 22vw;
  height: 2em;
  padding-left: 0.6em;
  border-style: none;
  border-top-right-radius: var(--videoCard-radius);
  border-bottom-right-radius: var(--videoCard-radius);
  background-color: rgb(var(--top-color));
}

.searchInput:focus {
  border: 1px solid rgb(var(--sec-text));
}

@media only screen and (min-width: 1440px) {
}
