.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(var(--back-color));
}

.left {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 60%;
  height: 100vh; /*for vertical scrolling*/ 
  background-color: rgb(var(--back-color));
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  padding-top: 1rem;
  background-color: rgb(var(--back-color));
}

.right {
  display: flex;
  width: 40%;
  background-color: rgb(var(--menu-color));
}

.trailer {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  aspect-ratio: 16/9;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
  border: 2px solid rgb(var(--hover-color));
}

.trailer > video {
  width: 100%;
  object-fit: fill;
}
