.container {
  position: relative;
  display: flex;
  overflow: hidden;
  width: var(--card-width);
  aspect-ratio: 1/1.5;
  margin: 1rem;
  cursor: pointer;
  outline: 3px solid rgb(var(--menu-color));
  border-radius: 0.5rem;
}

.container:hover {
  outline: 4px solid white;
  transform: scale(1.07);
}

.poster {
  position: absolute;
  z-index: 2; 
}

.poster > img {
  width: 100%;
  aspect-ratio: 1/1.45;
}

.info {
  position: absolute;
  z-index: 2;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  background: rgba(var(--back-color));
}

.year p,
.runtime p {
  color: rgb(var(--prim-text));
  font-size: 0.7rem;
}

.languages {
  position: relative;
  display: flex;
}

.german,
.english {
  width: calc((var(--card-width)) * 1 / 8);
  aspect-ratio: 1/1;
  background-size: calc((var(--card-width)) * 1 / 8);
  background-repeat: no-repeat;
}

.german {
  background-image: url("../../assets/icons/german.png");
}

.english {
  margin-left: 0.5rem;
  background-image: url("../../assets/icons/english.png");
}
